<ion-view view-title="About" ng-controller="AboutCtrl">
  <ion-content class="padding has-header login">
    <div class="overlay-layer">
      <image src="img/xivo-logo.png" class="xivo-logo"></image>
      <div class="list list-inset aboutInfo">
        Xivo Assistant pour Android développé par <a href='http://www.avencall.com'>Avencall</a>.
        <br/>
        version: {{version}}

      </div>
      <a class="button button-block button-calm" ng-click="dismiss()">Fermer</a>
      <a href='http://www.avencall.com'>
        <image src="img/avencall-slogan.png" class="avencall-logo"></image>
      </a>
    </div>
  </ion-content>
</ion-view>
