<ion-popover-view class="fit">
  <ion-header-bar>
    <div class="bar bar-calm">
      <h1 class="title popover-title">Renvois d'appel</h1>
      <button class="button button-icon icon ion-checkmark-round" ng-click="processAndClose()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" scroll="false">
    <ion-list>
      <ion-item class="item-input">
        <span class="input-label">Inconditionnel</span>
        <span class="popover-text-box">
          <input type="tel" placeholder="numéro" ng-model="user.uncFwdDestination" ng-change="updateUncFwd()">
        </span>
        <span class="checkbox pull-right">
          <ion-checkbox class="checkbox-royal popover-checkbox" type="checkbox" ng-model="user.uncFwdEnabled" ng-change="changeUncFwd()" ng-show="user.uncFwdDestination.length != 0">
            </ion-checkbox>
        </span>
      </ion-item>


      <ion-item class="item-input">
        <span class="input-label">Injoignable</span>
        <span class="popover-text-box">
          <input type="tel" placeholder="numéro" ng-model="user.naFwdDestination" ng-change="updateNaFwd()" >
        </span>
        <span class="checkbox pull-right">
          <ion-checkbox class="checkbox-royal popover-checkbox" type="checkbox" ng-model="user.naFwdEnabled" ng-change="changeNaFwd()" ng-show="user.naFwdDestination.length != 0">
          </ion-checkbox>
        </span>
      </ion-item>

      <ion-item class="item-input">
        <span class="input-label">Occupation</span>
        <span class="popover-text-box">
          <input type="tel" placeholder="numéro" ng-model="user.busyFwdDestination" ng-change="updateBusyFwd()" >
        </span>
        <span class="checkbox pull-right">
          <ion-checkbox class="checkbox-royal popover-checkbox" type="checkbox" ng-model="user.busyFwdEnabled" ng-change="changeBusyFwd()" ng-show="user.busyFwdDestination.length != 0">
          </ion-checkbox>
        </span>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-popover-view>
