<ion-view view-title="Connexion">
  <ion-content class="padding has-header login">
    <div class="overlay-layer">
      <image src="img/xivo-logo.png" class="xivo-logo"></image>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input">
          <input type="password" id="password" placeholder="Password" ng-model="user.password" ng-keypress="showLetter($event)">
          <div id='letterViewer' class="letterViewer"></div>
        </label>
        <div class="item item-checkbox">
          <label class="checkbox checkbox-clear checkbox-royal">
            <input type="checkbox" ng-model="user.passwordStore"/>
          </label>
          Save password
        </div>
        <label class="item item-input">
          <input type="text" placeholder="XUC address" ng-model="user.xuc">
        </label>
        <label class="item item-text-wrap" ng-show="error.length>0">
          {{error}}
        </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(user)">Login</button>
      <image src="img/avencall-slogan.png" class="avencall-logo"></image>
    </div>
  </ion-content>
</ion-view>
