<ion-view view-title="History">
  <ion-content>
    <ion-list id="history">
      <div class="item item-divider">Historique des appels</div>
      <div class="row row-center">
        <div class="col col-20"></div>
        <div class="col col-20 text-center">Numéro</div>
        <div class="col col-30 text-center">Début</div>
        <div class="col col-30 text-center">Durée</div>
      </div>
      <ion-item ng-repeat="callDetail in history">
        <div class="row">
          <div class="col col-20"><img src="{{statusImage(callDetail.status)}}"/></div>
          <i class="col col-20 ion-ios-telephone big-icon" ng-click="tel({{callDetail.number}})"></i>
          <div class="col col-30 text-center">{{callDetail.start}}</div>
          <div class="col col-30 text-center">{{callDetail.duration}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <a ui-sref='tab.contacts({action: "search"})'>
    <button class="round-overlay-button bottom-right royal button button-icon icon ion-ios7-search-strong light">
      <i class="icon ion-search"></i>
    </button>
  </a>
</ion-view>
