<ion-view view-title="Conferences">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="confRoom in confRooms | orderBy: 'number'">
        <a class="button button-full button-clear" ng-href="tel: {{confRoom.number}}">
          <div class="row row-center item-text-wrap">
            <div class="col col-25 icon-left ion-ios-telephone"> {{confRoom.number}}</div>
            <div class="col col-50">{{confRoom.name}}</div>
            <div class="col col-25">Pin {{confRoom.pinRequired | booleanText}}</div>
          </div>
           <span class="item-note" ng-show="{{confRoom.members.length}}>0">
             <div>
               {{confRoom.members.length}} participant(s), démarrée depuis {{getStartTime(confRoom)}}
             </div>
          </span>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
  <a ui-sref='tab.contacts({action: "search"})'>
    <button class="round-overlay-button bottom-right royal button button-icon icon ion-ios7-search-strong light">
      <i class="icon ion-search"></i>
    </button>
  </a>
</ion-view>
