<ion-view view-title="Contacts">
  <ion-content>
    <form ng-submit="search()">
      <div class="bar bar-header item-input-inset" ng-show="showSearch">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="search.term" autofocus>
        </label>
        <button type="submit" class="button button-clear">
          Chercher
        </button>
      </div>
    </form>
    <ion-list id="directoryresult" ng-show="showSearch" can-swipe="true">
      <ion-item ng-repeat="contact in searchResult">
        <div class="row row-center">
          <div class="col col-10 button button-clear">
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.0" viewBox="0 0 1693 1693" enable-background="new -0.5 -0.5 9 9">
              <path class="fill-status{{contact.status}}" fill="#444" d="m 1261,631 c 0,75 -17,139 -55,204 -33,58 -75,102 -130,138 172,66 306,208 360,386 -142,162 -350,265 -583,265 -224,0 -426,-95 -567,-247 C 336,1195 467,1048 638,978 579,941 536,896 501,835 463,770 446,706 446,631 c 0,-76 17,-139 55,-205 37,-65 84,-112 149,-149 65,-38 128,-55 203,-55 75,0 139,17 204,55 65,37 112,84 149,149 38,66 55,129 55,205 z" />
            </svg>
          </div>
          <div class="col col-50 text-center item-text-wrap">{{contact.entry[0]}} {{contact.entry[1]}}</div>
          <i class="col col-15 ion-iphone big-icon" ng-click="tel(contact.entry[3])" ng-show='isEmpty(contact.entry[3])'></i>
          <i class="col col-15 ion-ios-telephone ion-minus-round" ng-hide='isEmpty(contact.entry[3])'></i>
          <i class="col col-15 ion-ios-telephone big-icon" ng-click="tel(contact.entry[2])" ng-show='isEmpty(contact.entry[2])'></i>
          <i class="col col-15 ion-ios-telephone ion-minus-round" ng-hide='isEmpty(contact.entry[2])'></i>
          <i class="col col-10 ion-ios-star-outline big-icon" ng-hide='contact.favorite' ng-click="addFavorite(contact)"></i>
          <i class="col col-10 ion-ios-star big-icon" ng-show='contact.favorite' ng-click="removeFavorite(contact)"></i>
          <ion-option-button class="button-light icon ion-android-textsms" ng-click="sms(contact.entry[3])" ng-show='isEmpty(contact.entry[3])'></ion-option-button>
        </div>
      </ion-item>
    </ion-list>

    <ion-list id="favoris" ng-hide="showSearch" can-swipe="true">
      <div class="item item-divider">Favoris</div>
      <ion-item ng-repeat="contact in favorites">
        <div class="row row-center">
          <div class="col col-10 button button-clear">
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.0" viewBox="0 0 1693 1693" enable-background="new -0.5 -0.5 9 9">
              <path class="fill-status{{contact.status}}" fill="#444" d="m 1261,631 c 0,75 -17,139 -55,204 -33,58 -75,102 -130,138 172,66 306,208 360,386 -142,162 -350,265 -583,265 -224,0 -426,-95 -567,-247 C 336,1195 467,1048 638,978 579,941 536,896 501,835 463,770 446,706 446,631 c 0,-76 17,-139 55,-205 37,-65 84,-112 149,-149 65,-38 128,-55 203,-55 75,0 139,17 204,55 65,37 112,84 149,149 38,66 55,129 55,205 z" />
            </svg>
          </div>
          <div class="col col-50 text-center item-text-wrap">{{contact.entry[0]}} {{contact.entry[1]}}</div>
          <i class="col col-15 ion-iphone big-icon" ng-click="tel(contact.entry[3])" ng-show='isEmpty(contact.entry[3])'></i>
          <i class="col col-15 ion-ios-telephone ion-minus-round" ng-hide='isEmpty(contact.entry[3])'></i>
          <i class="col col-15 ion-ios-telephone big-icon" ng-click="tel(contact.entry[2])" ng-show='isEmpty(contact.entry[2])'></i>
          <i class="col col-15 ion-ios-telephone ion-minus-round" ng-hide='isEmpty(contact.entry[2])'></i>
          <i class="col col-10 ion-ios-star-outline big-icon" ng-hide='contact.favorite' ng-click="addFavorite(contact)"></i>
          <i class="col col-10 ion-ios-star big-icon" ng-show='contact.favorite' ng-click="removeFavorite(contact)"></i>
          <ion-option-button class="button-light icon ion-android-textsms" ng-click="sms(contact.entry[3])" ng-show='isEmpty(contact.entry[3])'></ion-option-button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <button class="round-overlay-button bottom-right royal button button-icon icon ion-ios7-search-strong light hide-on-keyboard-open"
      ng-click="toggleSearch()" ng-hide="showSearch">
    <i class="icon ion-search"></i>
  </button>
  <button class="round-overlay-button bottom-right royal button button-icon icon ion-ios7-search-strong light hide-on-keyboard-open"
          ng-click="toggleSearch()" ng-show="showSearch">
    <i class="icon ion-star"></i>
  </button>
</ion-view>
