<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive tabs-striped tabs-color-royal">

  <ion-tab title="Contacts" icon-off="contactsIcon" icon-on="contactsIcon" href="#/tab/contacts" class="tab-title">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Conférences" icon-off="conferencesIcon" icon-on="conferencesIcon" href="#/tab/conferences" class="tab-title">
    <ion-nav-view name="tab-conferences"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Historique" icon-off="ion-android-time" icon-on="ion-android-time" href="#/tab/history" class="tab-title">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" href="#/tab/about" class="tab-title" hidden="true">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" href="#/tab/settings" class="tab-title" hidden="true">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
