/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #333 !default;
$calm:                            #a9a29e !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #e77d39 !default;
$dark:                            #444 !default;

$text-background:                 #E0E0E0 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.cust-header {
  border: 0px;
}

.submenu {
  padding-top: 50px;
}

.tab-title {
  color: $light !important;
}

.right-menu-bar {
  height: 92px;
}

.login {
  background: url(../img/xivoBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.letterViewer {
   display: none;
   position: absolute;
   left: 140px;
   width: 100px;
   font: bold 35px Helvetica, Sans-Serif;
}

.overlay-layer {
	background: rgba(0, 5, 7, 0.35) no-repeat center center fixed;
	padding-top: 15px;
	padding-bottom: 90px;
}

.xivo-logo {
  height: 95px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.xivo-submenu {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.avencall-logo {
  height: 50px;
  float: right !important;
}

.avencall-submenu {
  height: 70px;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
}


.contactsIcon {
  margin-top: 2px !important;
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/contact.svg');
  background-size: contain;
}

.conferencesIcon {
  margin-top: 2px !important;
  background-repeat: no-repeat;
  background-position:center;
  background-image: url('../img/confroom.svg');
  background-size: contain;
}

.user-section {
  margin: auto;
}

.italic {
  font-style: italic;
}

.user-image {
  height: 35px;
  width: 50px;
  float: left;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 15px;
}
.user-icon {
  height: 35px;
  width: 35px;
}

.user-info {
  width: 160px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 45px;
  margin-right: 0px;
  list-style-type: none;
  color: #FFFFFF;
}
.user-fullname {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #FFFFFF;
}
.user-info .popover-content {
  text-align: center;
  color: #FFFFFF;
}
.user-forward {
  margin-top: 8px;
  font-size: 16px;
  color: #FFFFFF;
}
.forwardActive {
  color: royal;
}
.voicemail-image {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
  height: 25px;
}
.header-badge {
  margin-left:-15px;
  font-size: 15px;
}

.dnd-badge {
  margin-left: -32px;
  font-size: 12px;
}
.voicemailNewMessages {
  background-color: #E77D39;
}
.voicemailNoMessages {
  color : #a9a29e;
  background-color: #58524F;
}

.menu-button {
  padding-left: 20px !important;
  padding-right: 10px !important;
}

ion-popover-view.fit {
  height: auto !important;
  width: 325px;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

.popover-title {
  left: 0px !important;
}

.popover-text-box {
  width: 120px;
  background: $text-background;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popover-checkbox {
  padding-left: 16px;
  padding-top: 0px;
}

.pull-right {
  right: 1px;
  white-space: nowrap;
  overflow: hidden;
}

.pull-right-header {
  @extend.pull-right;
  position: fixed;
}

.aboutInfo {
  text-align: center;
  opacity: 0.7;
}

$disabledText:                    rgba(black, 0.26) !default;

$material-shadow:                0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !default;
$material-shadow-pressed:        0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2) !default;
$floating-button-size: 56px;
$floating-button-small-size: 40px;

button.button-icon.round-overlay-button {
  position: absolute;
  height: $floating-button-size;
  width: $floating-button-size;
  border-radius: 50%;
  min-height: $floating-button-size;
  padding: 0;
  border: none;

  background-color: $energized;
  color: white;

  box-shadow: $material-shadow;
  transition: all linear 220ms;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;

  &.royal {
    background-color: $royal;
    color: white;

    &.activated {
      background-color: darken($royal, 15%);
    }
  }

  &.icon {
    &:before {
      font-size: 30px;
    }
  }

  &.small {
    height: $floating-button-small-size;
    width: $floating-button-small-size;
    min-height: 40px;
    padding: 0;
    border: none;

    &.icon {
      &:before {
        line-height: 40px;
      }
    }
  }

  &.activated {
    opacity: 1;
    box-shadow: $material-shadow-pressed;
  }

  &.left {
    left: 1px;
    top: 16px;
  }

  &.bottom-edge-right {
    bottom: -24px;
    right: 16px;
    z-index: 12;
  }

  &.bottom-right {
    bottom: 0;
    margin-bottom: 25px;
    right: 25px;
    z-index: 2;

    &.slide-down {
      transform: translate3d(0,88px,0);
    }

  }
}

.pop-in {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0
}

.pop-in.ng-enter, .pop-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.pop-in.ng-enter-active, .pop-in > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.pop-in.ng-leave, .pop-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.fill-status0 {
/*    AVAILABLE : 0,*/
  fill: #01DF01;
}

.fill-status1 {
/*    CALLING : 1,*/
  fill: #FF8000;
}

.fill-status2 {
/*    BUSY : 2,*/
  fill: #81BEF7;
}

.fill-status8 {
/*    RINGING : 8,*/
  fill: #2E2EFE;
}

.fill-status9 {
/*    BUSY_AND_RINGING : 9,*/
  fill: #CC2EFA;
}

.fill-status16 {
/*    ONHOLD : 16,*/
  fill: #F7FE2E;
}

.fill-status-2 .fill-status4 .fill-status-1 .fill-status-99 {
/*  INDISPONIBLE : 4,
    DEACTIVATED : -1,
    UNEXISTING : -2,
    ERROR : -99 */
  fill: #F2F2F2;
}

.big-icon {
    font-size: 30px;
}

.item-content {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.xicon-elem-primary {
  fill: #a9a28a;
}

.xicon-elem-secondary {
  fill: #ffffff;
}