<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/ionic.app.css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="cordova.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/jquery-ui/jquery-ui.js"></script>
  <script src="lib/moment/min/moment-with-locales.js"></script>
  <script src="js/cti.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/providers.js"></script>
  <script src="js/xuc_services.js"></script>
</head>
<body ng-app="Pratix">

<ion-side-menus>
  <ion-side-menu-content drag-content="false">
    <ion-header-bar class="bar-positive"  ng-controller="NavCtrl">
      <div ng-controller="UserController">
        <div class="user-image" ng-click="toggleDnd()" ng-show="logged">
          <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.0" class="user-icon" viewBox="0 0 1693 1693" enable-background="new -0.5 -0.5 9 9">
            <path class="xicon-elem-primary" style="stroke:none" d="m 1694,847 c 0,156 -35,289 -113,424 -78,135 -175,232 -310,310 -135,78 -268,113 -424,113 -156,0 -288,-35 -423,-113 C 289,1503 191,1406 113,1271 36,1136 0,1003 0,847 0,691 36,559 113,424 191,289 289,191 424,113 559,36 691,0 847,0 c 156,0 289,36 424,113 135,78 232,176 310,311 78,135 113,267 113,423 z" />
            <path class="xicon-elem-secondary" style="stroke:none" d="m 1261,631 c 0,75 -17,139 -55,204 -33,58 -75,102 -130,138 172,66 306,208 360,386 -142,162 -350,265 -583,265 -224,0 -426,-95 -567,-247 C 336,1195 467,1048 638,978 579,941 536,896 501,835 463,770 446,706 446,631 c 0,-76 17,-139 55,-205 37,-65 84,-112 149,-149 65,-38 128,-55 203,-55 75,0 139,17 204,55 65,37 112,84 149,149 38,66 55,129 55,205 z" />
          </svg>
          <span class="badge badge-assertive dnd-badge" ng-show="user.dndEnabled">DND</span>
        </div>
        <div class="user-info" ng-controller="ForwardController" ng-click="openPopover($event)" ng-show="logged">
          <div id="userForward" class="user-forward">
            <i class="icon ion-ios-redo" ng-class="{forwardActive : isForwarded()}"></i> {{forwardName()}}
          </div>
        </div>
      </div>
      <div ng-controller="VoiceMailController" class="pull-right-header">
        <a href="tel: *98" class="button button-clear" ng-show="logged">
          <img src="img/voicemail-white.svg"  class="voicemail-image">
          <span class="badge badge-royal header-badge" ng-class="{voicemailNewMessages : voiceMail.newMessages > 0, voicemailNoMessages : voiceMail.newMessages === 0}">{{voiceMail.newMessages}}</span>
        </a>
        <button class="button button-clear menu-button" ng-click="showRightMenu()">
          <i class="icon ion-android-more-vertical" ></i>
        </button>
      </div>
    </ion-header-bar>

    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" ng-controller="NavCtrl">
    <ion-header-bar class="bar bar-header bar-positive right-menu-bar">
      <image src="img/xivo-logo.png" class="xivo-submenu"></image>
    </ion-header-bar>
    <ion-content class="submenu">
      <div class="list">
        <div class="item icon ion-android-settings" menu-close nav-clear ng-click="settings()" ng-show="logged">&nbspParamètres</div>
        <div class="item icon ion-log-out" menu-close nav-clear ng-click="login()" ng-show="logged">&nbspDéconnexion</div>
        <div class="item icon ion-ios-people" menu-close nav-clear ng-click="about()">&nbspA propos</div>
        <div class="item icon ion-power" menu-close nav-clear onClick="navigator.app.exitApp()">&nbspQuitter l'application</div>
      </div>
    </ion-content>
    <div class="bar bar-footer bar-clear right-menu-bar">
      <image src="img/avencall-slogan.png" class="avencall-submenu"></image>
    </div>
  </ion-side-menu>
</ion-side-menus>
</body>
</html>
