/* Empty. Add your own CSS if you like */
.phoneState {
    width:10px;
}
.phone-16 {
/*    ONHOLD : 16,*/
   color: yellow;
}
.phone-8 {
/*    RINGING : 8,*/
    color: red;
}
.phone-4 {
/*    INDISPONIBLE : 4,*/
    color: grey;
}
.phone-9 {
/*    BUSY_AND_RINGING : 9,*/
    color: red;
}
.phone-0 {
/*    AVAILABLE : 0,*/
    color: green;
}
.phone-1 {
/*    CALLING : 1,*/
    color: blue;
}
.phone-2 {
/*    BUSY : 2,*/
    color: black;
}
/*
    DEACTIVATED : -1,
    UNEXISTING : -2,
    ERROR : -99
    */
